__pycache__/
.pytest_cache/
.idea/
*.nc
*.parq
*.csv

src/memory
fun/memory
data/srws_data/finished_files.txt
data/srws_data/error_files.txt
data/srws_data/2022-04-26T185900+00
error_files.txt
data/2022-04-26T185800+00
data/2022-04-26T185900+00
